<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="backend" label="COM_MATUKIO_CONFIG_BACKEND_HEADER_LABEL"
              description="COM_MATUKIO_CONFIG_LIVE_UPDATE_HEADER_DESC">
        <field name="username" type="text" default="" size="30" label="Username"
               description ="Enter the username to our site in order to enable Live Updates" />
        <field name="password" type="text" default="" size="30" label="Password"
               description ="Enter the password to our site in order to enable Live Updates" />
    </fieldset>
    <fieldset
            name="permissions"
            label="COM_MATUKIO_PERMISSIONS_LABEL"
            description="COM_MATUKIO_PERMISSIONS_DESC"
            >

        <field name="asset_id" type="hidden" filter="unset" />

        <field
                name="rules"
                type="rules"
                label="COM_MATUKIO_PERMISSIONS"
                class="inputbox"
                validate="rules"
                filter="rules"
                component="com_matukio"
                section="component" />
    </fieldset>
</config>